/* size 400px */
@media only screen and (max-width: $breakpoints.phone) and (orientation landscape)
    body 
        color: #333

/* size 480px */
@media only screen and (max-width: $breakpoints.phone-wide) and (orientation landscape)
    body 
        color: #333

/* size 560px */
@media only screen and (max-width: $breakpoints.phablet) and (orientation landscape)
    body 
        color: #333

/* size 640px */
@media only screen and (max-width: $breakpoints.tablet-small) and (orientation landscape)
    body 
        color: #333

/* size 768px */
@media only screen and (max-width: $breakpoints.tablet) and (orientation landscape)
    body 
        color: #333

/* size 1024px */
@media only screen and (max-width: $breakpoints.tablet-wide) and (orientation landscape)
    body 
        color: #333

/* size 1248px */
@media only screen and (max-width: $breakpoints.desktop) and (orientation landscape)
    body 
        color: #333

/* size 1440px */
@media only screen and (max-width: $breakpoints.desktop-wide) and (orientation landscape)
    body 
        color: #333