article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section
    display: block

*, *:before, *:after
    prefix box-sizing border-box

html, body 
    background: $bg-website
    color: $fg-website