/* Color */
$bg-website   = #f1f1f1
$fg-website   = #333333
$basic-fg     = #78bbe6

/* Font */
$font-website = normal 16px "SourceSansProRegular", Arial, sans-serif
$font-regular = "SourceSansProRegular", Arial, sans-serif
$font-bold    = "SourceSansProBold", Arial, sans-serif
$font-light   = "SourceSansProLight", Arial, sans-serif

/* Size */
$base-size    = 16px
$normal-size  = 1150px

/* Additional */
$vendors      = '-webkit-', '-apple-', '-khtml-','-moz-', '-rim-', '-xv-','-ms-', '-o-', ''
$breakpoints  = {
    "phone"       : 400px, 
    "phone-wide"  : 480px, 
    "phablet"     : 560px, 
    "tablet-small": 640px,
    "tablet"      : 768px, 
    "tablet-wide" : 1024px, 
    "desktop"     : 1248px, 
    "desktop-wide": 1440px
}